<% if @error == 2 %>
    <% @error = 0 %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <ul>
          <li>Invalid league range</li>
        </ul>
      </div>
    </div>
<% end %>

<% if !@team.nil? && @team.errors.any? %>
    <div id="error_explanation">
      <% @team.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger">
            <ul>
              <li><%= msg %></li>
            </ul>
          </div>
      <% end %>
    </div>
<% end %>