<% provide(:title, 'Team') %>
<div class="row">
  <div class="left-nav-lfg-team">
    <%= form_for(:search_team, url: '/teams') do |f| %>
        <br><h1>League</h1>
        <br><h2 style="margin-bottom: 10px;">Minimum</h2>
        <br><div class="col-md-8 col-md-offset-2" style="color: black;"><%= f.select :minimal_league_id, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></div>
        <br><br><h2 style="margin-bottom: 10px;">Maximum</h2>
        <br><div class="col-md-8 col-md-offset-2" style="color: black;"><%= f.select :maximal_league_id, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></div>

        <div class="col-md-8 col-md-offset-2">
          <%= f.submit "Filter", class: "btn btn-primary" %>
        </div>
    <% end %>
    <div style="clear:both;"></div>
    <div style="height: 75px;"></div>
    <% parameters = params[:search_lfg] %>
    <% if params[:search_lfg] %>
        <% if !(parameters[:top] == '1' || parameters[:jungle] == '1' || parameters[:mid] == '1' || parameters[:support] == '1' || parameters[:bot] == '1') %>
            <%= render 'players/form_error' %>
            <% @stop = 1 %>
        <% end %>
        <% if @minimal_league_rating.to_i > @maximal_league_rating.to_i %>
            <%= render 'players/league_range_error' %>
            <% @stop = 1 %>
        <% end %>
    <% end %>
  </div>

  <div style="padding-left: 350px;">
    <div class="container">
      <% @poster_teams.each do |team| %>
        <% team_name = team.name %>
        <% players_of_team = get_team_members(team.id) %>
        <% available_roles = get_available_roles(team.id) %>
        <% league_range_min = get_concrete_league_by_id(team.concrete_league_id_min_lfm) %>
        <% league_range_max = get_concrete_league_by_id(team.concrete_league_id_max_lfm) %>
        <% region = region_by_id(team.id_region) %>
        <% memberships = get_memberships_by_team_id(team.id) %>
        <% while memberships.size < 5 %>
            <% memberships.push(nil) %>
        <% end %>
        <div class="team-poster">
          <div class="team-name">
            <%= link_to team_name, team %>
          </div>
          <% memberships.each do |ms| %>
              <% unless ms.nil? %>
                <% pot = get_player_by_membership_id(ms.id)[0] %>
              <% end %>
              <% unless pot.nil? %>
              <% pot_league = get_concrete_league_by_id(pot.concrete_league_id) %>
            <% end %>
            <div class="player-name">
              <% if pot.nil? %>
                    &nbsp
              <% else %>
                <div clas="row">
                  <div class="col-md-5">
                    <%= link_to pot.name, pot %>
                  </div>
                  <div class="col-md-4">
                    <%= pot_league.division %>
                  </div>

                  <div class="col-md-3">
                    <% temp = get_concrete_role_by_id(ms.concrete_role_id) %>
                    <%= image_tag("role_badges/#{temp.name.downcase}.png", :width => 24, :height => 24, alt: "#{temp.name}") %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="avail-roles">
            Available roles:
            <% available_roles.each do |ar| %>
              <%#= ar.name %>
              <%= image_tag("role_badges/#{ar.name.downcase}.png", :width => 30, :height => 30, alt: "#{ar.name}") %>
            <% end %>
          </div>
          <div class="league-range">
            <div>
              Preferred league range:
              <%= league_range_min.division %> -
              <%= league_range_max.division %>
            </div>
          </div>
          <div class="region">
            Region: <%= region.name %>
          </div>
          <div class="event-type">
            Purpose: <%= Event.find_by(id: team.id_event).name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





<div style="clear:both;"></div>
