<% provide(:title,"Create team") %>
<h1>Create team</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:new_team, url: '/newteam') do |f| %>
      <%= render 'teams/form_error' %>

      <%= f.label :team_name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :preferred_league_range %>
      <div class="divider"></div>
      <div class="col-md-6" style="color: black;"><span style="color:white">From:</span><%= f.select :concrete_league_id_min_lfm, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></div>
      <div class="col-md-6" style="color: black;"><span style="color:white">To:</span><%= f.select :concrete_league_id_max_lfm, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></div>
      <div class="divider"></div>

      <%= f.label :your_role %>
      <span style="color:black"><%= f.select :captain_concrete_role_id, options_from_collection_for_select(ConcreteRole.all, :id, :name), class: 'form-control' %></span>

      <%= f.label :purpose %>
      <span style="color:black"><%= f.select :event_id, options_from_collection_for_select(Event.all, :id, :name), class: 'form-control' %></span>

      <%= f.label :description %>
      <%= f.text_area :note, class: 'form-control' %>

      <%= f.submit "Create team", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>