<% provide(:title,@team.name) %>
<div class="container">
  <h3>
    <%= @team.name %>
  </h3>

  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Player</th>
      <th>Role</th>
      <th>Win / Lose</th>
      <th>League</th>
    </tr>
    </thead>
    <tbody>
    <% mss = get_memberships_by_team_id(@team.id) %>
    <% #raise mss.inspect %>
    <% mss.each do |ms| %>
      <% tm = get_player_by_membership_id(ms.id)[0] %>
      <% #raise tm.inspect %>
      <tr>
        <td><span class="white-link"><%= link_to tm.name, tm %></span></td>
        <td><%= get_concrete_role_by_id(ms.concrete_role_id).name %></td>
        <td><%= tm.win %> / <%= tm.lose %></td>
        <td><%= get_concrete_league_by_id(tm.concrete_league_id).division %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>