<% provide(:title,"Player invite") %>
<br><br>
<div class="container">
  <% if @isValidR == 1 && @isValidM == 1 && @isValidTR == 1 && @isValidD == 1 && @isValidRe == 1 %>
    Invitation was successfully send.
  <% else %>
    <% if @isValidR == 0 %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <li>Invited player is not able to play selected role.</li>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @isValidM == 0 %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <li>Invited player is already member of your team.</li>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @isValidTR == 0 %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <li>Invited player's role is already occupied in your team roster.</li>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @isValidD == 0 %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <li>Message is too long.</li>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @isValidRe == 0 %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <li>Player is from another region.</li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>