<% provide(:title,"Accept error") %>
<br><br>
<div class="container">
  <% if @isValidMi == 0 %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <ul>
          <li>You are already member of this team.</li>
        </ul>
      </div>
    </div>
  <% end %>
  <% if @isValidTRi == 0 %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <ul>
          <li>Player with your role was already found.</li>
        </ul>
      </div>
    </div>
  <% end %>
  <% if @isValidTRi == 0 %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <ul>
          <li>Team plays in another region.</li>
        </ul>
      </div>
    </div>
  <% end %>
</div>