<% provide(:title, "Invitations") %>

<div class="container">
  <h1>Invitations</h1>
  <% if @invitations_into_teams.nil? %>
      <p>You have no invitations.</p>
  <% else %>

  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Team</th>
      <th>Role</th>
      <th>&nbsp</th>
      <th>&nbsp</th>
    </tr>
    </thead>
    <tbody>
    <% @invitations_into_teams.each do |invitation| %>
      <tr>
        <% temp_team = Team.find_by(id: invitation.team_id) %>
        <td><span class="white-link"><%= link_to temp_team.name, temp_team  %></span></td>
        <td><%= get_concrete_role_by_id(invitation.concrete_role_id).name %></td>
        <% lfg_temp = get_player_is_lfg_by_team_invited_player_id(invitation.player_is_lfg_id) %>
        <% player_temp = get_player_by_lfg_id(lfg_temp.player_id) %>
        <% if !current_player.nil? && player_temp.id == current_player.id %>
          <%= form_for(:accept_data, url: '/invite_accept') do |f| %>
            <%= f.hidden_field :team_id, value: "#{temp_team.id}" %>
            <%= f.hidden_field :player_id, value: "#{player_temp.id}" %>
            <%= f.hidden_field :concrete_role_id, value: "#{invitation.concrete_role_id}" %>
            <%= f.hidden_field :invitation_id, value: "#{invitation.id}" %>
            <td><%= f.submit "Accept", class: "clear-button-green" %></td>
          <% end %>
        <% end %>
        <% if !current_player.nil? && player_temp.id == current_player.id %>
          <td><span class="red-link"><%= link_to "Reject", delete_invitation_id_path(invitation.id), method: :delete %></span></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>