<% provide(:title,"Home") %>
<div class="container">
  <div class="front-div-1">
    <h3>Looking for a player?</h3>
    <%= link_to "Browse playes", players_path, class: "btn btn-primary" %>
  </div>

  <div class="front-div-2">
    <h3>Looking for a team?</h3>
    <%= link_to "Browse teams", teams_path, class: "btn btn-primary" %>
  </div>

</div>