<% provide(:title,"Statistics") %>
<%#= javascript_include_tag "//www.google.com/jsapi", "//cdn.imnjb.me/libs/chartkick.js/js/chartkick.min.js" %>

<script src="//www.google.com/jsapi"></script>
<script src="//cdn.imnjb.me/libs/chartkick.js/js/chartkick.min.js"></script>

<div class="container">
  <h1>Players by league</h1>

  <%= pie_chart @chart_data,
                :library => { backgroundColor: '#202528',
                              pieSliceText: 'none',
                              #:legend => {:textStyle => {color: 'white'}},
                              legend: { position: 'labeled',
                                        textStyle: {color: 'white'},
                                        labeledValueText: 'both'
                              },
                              pieSliceBorderColor: '#202528',
                              is3D: true,

  } %>

</div>