<% if @error == 1 %>
    <% @error = 0 %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <ul>
          <li>Invalid login/password combination</li>
        </ul>
      </div>
    </div>
<% end %>