<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>
        <%= render 'sessions/login_error' %>

        <%= f.label :login %>
        <%= f.text_field :login, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", register_path %></p>
  </div>
</div>