<% if @player.errors.any? %>
    <div id="error_explanation">
      <% @player.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
          <ul>
            <li><%= msg %></li>
          </ul>
        </div>
      <% end %>
    </div>
<% end %>