<% if(@error_wrong_confirm == 1 || @error_wrong_pass == 1) %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <ul>
          <% if(@error_wrong_confirm == 1) %>
              <li>Wrong confirmation password</li>
              <% @error_wrong_confirm = 0 %>
          <% end %>
          <% if(@error_wrong_pass == 1) %>
              <li>Wrong old password</li>
              <% @error_wrong_pass = 0 %>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>