<% if(@overload_error == 1 || @not_found_error == 1 || @unknown_error == 1) %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <ul>
        <% if(@overload_error == 1) %>
            <li>Server overloaded, try again later.</li>
            <% @overload_error = 0 %>
        <% end %>
        <% if(@not_found_error == 1) %>
            <li>Summoner not found, please check your ingame nickname.</li>
            <% @not_found_error = 0 %>
        <% end %>
        <% if(@unknown_error == 1) %>
            <li>Unknown error has occurred.</li>
            <% @unknown_error = 0 %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>