<% provide(:title, "Edit profile") %>

<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@player, url: change_stats_path) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :league %>
        <div class="divider"></div>
        <span style="color:black"><%= f.select :concrete_league_id, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></span>
        <div class="divider"></div>

        <div class="col-md-6">
          <%= f.label :win %>
          <%= f.number_field :win, :required => 'required', class: 'form-control' %>
        </div>

        <div class="col-md-6">
          <%= f.label :lose %>
          <%= f.number_field :lose, :required => 'required', class: 'form-control' %>
        </div>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>