<% provide(:title, "Change password") %>

<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:player_data, url:'/change_password') do |f| %>
        <%= render 'shared/error_messages' %>
        <%= render 'players/error_password_change' %>

        <%= f.label :old_password %>
        <%= f.password_field :password_old, class: 'form-control' %>

        <%= f.label :new_password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
