<% provide(:title, 'Players') %>
<div class="row">
  <div class="left-nav-lfg">
    <%= form_for(:search_lfg, url: '/players') do |f| %>
      <br><h1>League</h1>
      <br><h2 style="margin-bottom: 10px;">Minimum</h2>
      <br><div class="col-md-8 col-md-offset-2" style="color: black;"><%= f.select :minimal_league_id, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></div>
      <br><br><h2 style="margin-bottom: 10px;">Maximum</h2>
      <br><div class="col-md-8 col-md-offset-2" style="color: black;"><%= f.select :maximal_league_id, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></div>

      <br><br><h2 style="margin-bottom: 10px;">Roles</h2>
      <div class="divider" style="margin: 10px;"></div>
      <br>
      <div class="col-md-8 col-md-offset-2">
        <%= f.label :top, class: "checkbox inline" do %>
            <div class="col-md-8">Top</div>
            <div class="col-md-4"><%= f.check_box :top %></div>
        <% end %>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <%= f.label :jungle, class: "checkbox inline" do %>
            <div class="col-md-8">Jungle</div>
            <div class="col-md-4"><%= f.check_box :jungle %></div>
        <% end %>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <%= f.label :mid, class: "checkbox inline" do %>
            <div class="col-md-8">Mid</div>
            <div class="col-md-4"><%= f.check_box :mid %></div>
        <% end %>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <%= f.label :support, class: "checkbox inline" do %>
            <div class="col-md-8">Support</div>
            <div class="col-md-4"><%= f.check_box :support %></div>
        <% end %>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <%= f.label :bot, class: "checkbox inline" do %>
            <div class="col-md-8">Bot</div>
            <div class="col-md-4"><%= f.check_box :bot %></div>
        <% end %>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <%= f.submit "Filter", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div style="clear:both;"></div>
    <div style="height: 75px;"></div>
    <% parameters = params[:search_lfg] %>
    <% if params[:search_lfg] %>
      <% if !(parameters[:top] == '1' || parameters[:jungle] == '1' || parameters[:mid] == '1' || parameters[:support] == '1' || parameters[:bot] == '1') %>
        <%= render 'players/form_error' %>
        <% @stop = 1 %>
      <% end %>
      <% if @minimal_league_rating.to_i > @maximal_league_rating.to_i %>
        <%= render 'players/league_range_error' %>
        <% @stop = 1 %>
      <% end %>
    <% end %>
  </div>

  <div style="padding-left: 350px;">
    <div class="container">
      <% @player_is_lfgs.each do |player_is_lfg| %>
        <div class="poster">
          <%
            @player = Player.find_by(id: player_is_lfg.player_id)
            @cl = ConcreteLeague.find_by(id: @player.concrete_league_id)
          %>
          <div class="division"><%=
            @cl.division
          %></div>
          <div class="divider"></div>
          <%=
            image_tag("league_badges/#{@cl.img}.png", alt: "#{@cl.division}")
          %>
          <div class="divider"></div>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <div class="player-name"><%= @player.name %></div>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View Profile", @player %></li>
              <% unless current_player.nil? %>
                <% if teams_of_which_current_player_is_captain.nil? %>
                  <li><%= link_to "Invite to team", "#", :onclick => "show('invite-player')" %></li>
                <% else %>
                  <li><%= link_to "Invite to team", "#", :onclick => "get_roles(#{player_is_lfg.id})" %></li> <!-- show('invite-player')          -->
                <% end %>
              <% end %>
            </ul>
          </div>

          <div class="popup" id="invite-player" <% if teams_of_which_current_player_is_captain.nil? %>style="height: 170px;"<% end %>>
            <% if teams_of_which_current_player_is_captain.nil? %>
              <p>You are not captain of any eligible team!</p>
              <%= link_to "Create team", newteam_path, class: "btn btn-primary col-md-4 col-md-offset-1", style:"color: white;" %>
            <% else %>
              <%= form_for(:invite_data, url: '/team_invites_player') do |f| %>
                <%= f.label :select_team %>
                <span style="color:black; font-size: 16px;"><%= f.select :team_id, options_from_collection_for_select(Team.where(id_player: current_player.id), :id, :name), class: 'form-control' %></span>

                <%= f.label :select_position %>
                <span style="color:black; font-size: 16px;" id="role-select-id"><%= f.select :concrete_role_id, options_from_collection_for_select(ConcreteRole.all, :id, :name), id: 'roleselectid' , class: 'form-control' %></span> <!-- get_player_lfgs_roles(@player.id) -->

                <%= f.label :message %>
                <%= f.text_area :note, placeholder: 'Maximum 500 characters', class: 'form-control' %>

                <%= f.hidden_field :player_lfg_id, value: '' %>

                <%= f.submit "Invite", class: "btn btn-primary col-md-4 col-md-offset-1" %>
              <% end %>
            <% end %>
            <a href="#" class="btn btn-primary col-md-4 col-md-offset-2" style="color: white;" onclick="hide('invite-player')">Cancel</a>
          </div>

          <div class="divider"></div>
          <p><span class="win"><%= @player.win %> W</span> / <span class="lose"><%= @player.lose %> L</span></p>
          <div class="divider"></div>
          <%
            role_list = get_roles(player_is_lfg.role_list_id)
          %>
          <% role_list.each do |role| %>
              <%= image_tag("role_badges/#{role[:name].downcase}.png", :width => 36, :height => 36, alt: "role_badges/#{role[:name]}.png") %>
          <% end %>
          <div class="divider"></div>
          <p style="margin-top:15px;">League range</p>
          <div class="league-range">
            <p style="margin: 0px">From: <%= ConcreteLeague.find_by(id: player_is_lfg.concrete_league_id_min).division %></p>
            <p style="margin: 0px">To: <%= ConcreteLeague.find_by(id: player_is_lfg.concrete_league_id_max).division %></p>
            <p style="margin: 0px">Region: <%= Region.find_by(id: @player.region_id).name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





<div style="clear:both;"></div>
