<% provide(:title,"Registration") %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@player, url: '/register') do |f| %>
        <%= render 'shared/error_messages' %>
        <%= render 'players/server_overloaded' %>

        <%= f.label :summoner_name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :login %>
        <%= f.text_field :login, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label :region %>
        <span style="color:black"><%= f.select :region_id, options_from_collection_for_select(Region.all, :id, :name), class: 'form-control' %></span>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>