
<% provide(:title, @player.name) %>
<div class="container">
  <h3>
    <%= @player.name %>
  </h3>

  <%
    @cl = ConcreteLeague.find_by(id: @player.concrete_league_id)
  %>
  <p>League: <%= @cl.division %>   <%= image_tag("league_badges/#{@cl.img}.png", alt: "#{@cl.division}", :width => 40, :height => 40) %></p>
  <p>Region: <%= Region.find_by(id: @player.region_id).name %></p>
  <p>Wins: <span style="color: darkgreen"><%= @player.win %> W</span></p>
  <p>Loses: <span style="color: darkred"><%= @player.lose %> L</span></p>
  <% if @ar.to_a.length == 0 %>
    <p>Number of posters: 0</p>
  <% else %>
    <p>Number of posters: <%= @ar[0]["c"] %></p>
  <% end %>

  <% if !current_player.nil? && current_player.id == @player.id %>
    <%= link_to "Create poster", new_lfg_path, method: :get, class: "btn btn-primary" %>
    <%= link_to "Renew", api_update_path, method: :put, class: "btn btn-primary" %>
  <% end %>


  <% if @ar.to_a.length > 0 %>
    <div class="divider"></div>
    <span style="margin: 20px;"><p>Posters:</p></span>
    <div class="player-poster-table col-md-8">

      <div class="row">
        <div class="col-md-3">Minimum league</div>
        <div class="col-md-3">Maximum league</div>
        <div class="col-md-5">Roles</div>
      </div>
      <% @player_is_lfgs.each do |poster| %>
          <% poster_id = poster.id %>
          <div class="row">
            <div class="col-md-3"><%= ConcreteLeague.find_by(id: poster.concrete_league_id_min).division %></div>
            <div class="col-md-3"><%= ConcreteLeague.find_by(id: poster.concrete_league_id_max).division %></div>
            <div class="col-md-5">
              <%
                role_list = get_roles(poster.role_list_id)
              %>
              <% role_list.each do |role| %>
                  <%= image_tag("role_badges/#{role[:name].downcase}.png", :width => 20, :height => 20, alt: "#{role[:name]}") %>
              <% end %>
            </div>
            <% if !current_player.nil? && @player.id == current_player.id %>
              <div class="col-md-1" style="font-family: 'Arial'"><%= link_to "X", delete_lfg_id_path(poster_id), method: :delete%></div>
            <% end %>
          </div>
          <div class="divider"></div>
    <% end %>
    </div>
  <% end %>
</div>