.popup {
  display: none;
  position: fixed;
  padding: 30px;
  width: 500px;
  left: 50%;
  margin-left: -150px;
  height: 380px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;

  border: 2px solid #ffffff;
  font-size: 20px;
}

#invite-player:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.2);
  z-index: -2;
}

#invite-player:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

