.black-link{
  a{
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
    &:after{
      color: black;
      text-decoration: none;
    }
    &:active{
      color: black;
      text-decoration: none;
    }
    &:link{
      color: black;
      text-decoration: none;
    }
    &:default{
      color: black;
      text-decoration: none;
    }
  }
}

.white-link{
  a{
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
    &:after{
      color: white;
      text-decoration: none;
    }
    &:active{
      color: white;
      text-decoration: none;
    }
    &:link{
      color: white;
      text-decoration: none;
    }
    &:default{
      color: white;
      text-decoration: none;
    }
  }
}

.red-link{
  a{
    color: darkred;
    &:hover {
      color: darkred;
      text-decoration: none;
    }
    &:after{
      color: darkred;
      text-decoration: none;
    }
    &:active{
      color: darkred;
      text-decoration: none;
    }
    &:link{
      color: darkred;
      text-decoration: none;
    }
    &:default{
      color: darkred;
      text-decoration: none;
    }
  }
}

.green-link{
  a{
    color: darkgreen;
    &:hover {
      color: darkgreen;
      text-decoration: none;
    }
    &:after{
      color: darkgreen;
      text-decoration: none;
    }
    &:active{
      color: darkgreen;
      text-decoration: none;
    }
    &:link{
      color: darkgreen;
      text-decoration: none;
    }
    &:default{
      color: darkgreen;
      text-decoration: none;
    }
  }
}

.clear-button-green{
  text-align: left;
  background: none !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 0px;
  cursor: pointer;
  color: darkgreen;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #646464;
}