.left-nav-lfg{
  font-family: "Times New Roman";
  background-color: #181C1D;
  margin: 10px;
  padding-bottom: 150px;
  border: 3px solid black;
  border-radius: 10px;
  width: 300px;
  height: 600px;

  position: fixed;
}

.left-nav-lfg-team{
  font-family: "Times New Roman";
  background-color: #181C1D;
  margin: 10px;
  padding-bottom: 150px;
  border: 3px solid black;
  border-radius: 10px;
  width: 300px;
  height: 450px;

  position: fixed;
}