.player-poster-table{
  font-family: "Times New Roman";
  background-color: #A0A0A0;
  color: #000000;
  border: 3px solid #808080;
  border-radius: 10px;
  font-size: 16px;
  margin: 15px;
  font-weight: bold;
  text-align: center;



  .row{
    margin: 3px;
    vertical-align: center;
  }
}

