.poster{
  font-family: "Times New Roman";
  background-color: #A0A0A0;
  color: #000000;
  overflow: hidden;
  height: 500px;
  width: 250px;
  padding: 10px;
  text-align: center;
  border: 2px solid #808080;
  border-radius: 10px;
  font-size: 20px;
  margin: 15px;
  float: left;
  font-weight: bold;


  a{
    text-align: center;
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
    &:after{
      color: black;
      text-decoration: none;
    }
    &:active{
      color: black;
      text-decoration: none;
    }
    &:link{
      color: black;
      text-decoration: none;
    }
    &:default{
      color: black;
      text-decoration: none;
    }
  }

  .player-name{
    font-size: 24px;
  }

  .win{
    color: darkgreen;
  }

  .lose{
    color: darkred;
  }

  .division{
    color: #003471;
    font-size: 18px;
    font-weight: bold;
  }

  .league-range{
    font-size: 14px;
  }
}

