.team-poster{
  font-family: "Times New Roman";
  background-color: #A0A0A0;
  color: #000000;
  overflow: hidden;
  height: 330px;
  width: 490px;
  padding: 10px;
  border: 2px solid #808080;
  border-radius: 10px;
  font-size: 20px;
  margin: 15px;
  float: left;
  font-weight: bold;


  a{
    text-align: center;
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
    &:after{
      color: black;
      text-decoration: none;
    }
    &:active{
      color: black;
      text-decoration: none;
    }
    &:link{
      color: black;
      text-decoration: none;
    }
    &:default{
      color: black;
      text-decoration: none;
    }
  }

  .team-name{
    font-size: 24px;
    padding-left: 10px;
    padding-bot: 4px;
  }

  .player-name{
    font-size: 20px;
    padding-left: 20px;
  }

  .avail-roles{
    padding-left: 10px;
  }

  .division{
    color: #003471;
    font-size: 18px;
    font-weight: bold;
  }

  .league-range{
    font-size: 20px;
    padding-left: 10px;

    .from-to{
      padding-left: 20px;
      font-size: 16px;
    }
  }

  .region{
    padding-left: 10px;
    font-size: 20px;
  }

  .event-type{
    padding-left: 10px;
    font-size: 20px;
  }

  .win{
    color: darkgreen;
  }

  .lose{
    color: darkred;
  }
}

