<% if @error == 1 %>
    <% @error = 0 %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <ul>
          <li>Chose at least one role</li>
        </ul>
      </div>
    </div>
<% end %>
<% if @error == 2 %>
    <% @error = 0 %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <ul>
          <li>Invalid league range</li>
        </ul>
      </div>
    </div>
<% end %>