<% provide(:title,"New LFG Poster") %>
<h1>New LFG Poster</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:new_lfg, url: new_lfg_path) do |f| %>
      <%= render 'player_is_lfgs/form_error' %>

      <%= f.label :league_range %>
      <div class="divider"></div>
      <div class="col-md-6" style="color: black;"><span style="color:white">From:</span><%= f.select :minimal_league_id, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></div>
      <div class="col-md-6" style="color: black;"><span style="color:white">To:</span><%= f.select :maximal_league_id, options_from_collection_for_select(ConcreteLeague.all, :id, :division), class: 'form-control' %></div>
      <div class="divider"></div>


      <%= f.label :roles %>
      <div class="divider" style="margin: 10px;"></div>
      <div class="col-md-4">
        <%= f.label :top, class: "checkbox inline" do %>
            <%= f.check_box :top %>
            <span>Top</span>
        <% end %>
      </div>
      <row><div class="col-md-4">
        <%= f.label :jungle, class: "checkbox inline" do %>
            <%= f.check_box :jungle %>
            <span>Jungle</span>
        <% end %>
      </div></row>
      <div class="col-md-4">
        <%= f.label :mid, class: "checkbox inline" do %>
            <%= f.check_box :mid %>
            <span>Mid</span>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= f.label :support, class: "checkbox inline" do %>
            <%= f.check_box :support %>
            <span>Support</span>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= f.label :bot, class: "checkbox inline" do %>
            <%= f.check_box :bot%>
            <span>Bot</span>
        <% end %>
      </div>
      <%= f.submit "Create poster", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>