<footer class="footer">
  <small>
    Play <a href="http://www.leagueoflegends.com/">League of Legends</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Link 1", "#" %></li>
      <li><%= link_to "Link 2", "#" %></li>
    </ul>
  </nav>
</footer>