<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "players", players_path, class:"custom-top-left-nav" %>
    <%= link_to "teams", teams_path , class:"custom-top-left-nav" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_player.nil? %>
          <li><%= link_to "Register", register_path %></li>
        <% end %>
        <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_player %></li>
                <li><%= link_to "Invitations", invitations_path, :'data-no-turbolink' => "true" %></li>
                <li><%= link_to "Create team", newteam_path  %></li>
                <li><%= link_to "Change password", change_password_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>